* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: rgb(102, 102, 102);
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}
